@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/*  --------------------------------- site-wide styles ------------------------------- */

:root {
 --hairpink: #b9506f;
 --textpink: #7C3148;
 --black-blue: #11151C;
 --dark-blue: #212D40;

 --pink: #f25d98;
 --soft-pink: #f2a9bc;

 --svgs2: #dac5ae;
 --svgs: #f25d98;
 --svgs-border: #7195dc;
 --text: #7195dc;
 --texta: #c2aa90;
 --background: #92ade4;
 --border: #7195dc;
}

* {
    font-family: 'Comfortaa', 'Dosis', Arial, sans-serif;
    font-size: 18px;
    color: var(--text);
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    /* border: 1px solid lightgray; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width: 100%;
    min-height: 300px;
    position: top;
    background-image: url("images/me4.jpg");
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.stroke {
    margin: 0 10px 0 5px;
    width: 25px;
    background-color: white;
    stroke: var(--svgs); 
}

.fill {
    margin: 0 10px 0 5px;
    width: 25px;
    background-color: white;
    fill: var(--svgs); 
}

.card {
    width: 80%;
    margin: 10px;
    background: transparent;
}

h1 {
    font-family: "Pacifico";
    text-shadow: -1px -1px 0 var(--text), -1px -1px 0 var(--text), -1px -1px 0 var(--text), 1px 1px 0 var(--border);
    color: white; 
    text-align: center;
    font-size: 3.5rem;
    margin: 20px 0 5px 0;
}

.tag {
    font-size: 1.2rem;
    color: white;
}

p {
    text-align: center;
    margin: 5px 0 20px 0;
}

ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px 0;
}

li {
    margin: 10px 0px;
    list-style: none;
}

a {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--border);
    border-radius: 5px;
    /* color: var(--svgs) */
}

a:active {
    text-decoration: underline;
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.qr-code p {
    color: white;
}

img {
    border: 1px solid var(--text);
    border-radius: 5px;
    width: 50%;
}

footer {
    height: 50px;
}

@media (min-width: 700px) {

    .hero-image {
        width: 65%;
        min-height: 450px;
    }
    .card {
        width: 50%
    }

    img {
        width: 25%;
    }

}