@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Ubuntu+Condensed&family=Pacifico&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --white: white;
    --pink: #FF99C8;
    --yellow: #FCF6BD;
    --green: #D0F4DE;
    --blue: #A9DEF9;
    --purple: #E4C1F9;
    --black: #071217;
    --pink-light: #f8cfe2;
    --yellow-light: #f7f5e6;
    --green-light: #eaf1ed;
    --blue-light: #d6eefa;
    --purple-light: #ecddf4;
    --pink-dark: #E6006B;

    --text-light: var(--white);
    --text-dark: var(--black);

    --background-light: var(--white);
    --background-dark: var(--black);

    --border-white: 2px solid var(--white);
    --border-pink: 2px solid var(--pink);
    --border-pink-light: 1px solid var(--pink-light);
    --border-yellow: 2px solid var(--yellow);
    --border-yellow-light: 1px solid var(--yellow-light);
    --border-green: 2px solid var(--green);
    --border-green-light: 1px solid var(--green-light);
    --border-blue: 2px solid var(--blue);
    --border-blue-light: 1px solid var(--blue-light);
    --border-purple: 2px solid var(--purple);
    --border-purple-light: 1px solid var(--purple-light);

    --hamburger-background: var(--pink);
    --hamburger-border: 1px solid var(--white);

    --shadow-pink: 1px 1px 5px 1px var(--pink-light);
    --shadow-yellow: 1px 1px 5px 1px var(--yellow-light);
    --shadow-green: 1px 1px 5px 1px var(--green-light);
    --shadow-blue: 1px 1px 5px 1px var(--blue-light);
    --shadow-purple: 1px 1px 5px 1px var(--purple-light);
    --box-shadow: 1px 1px 5px 1px var(--blue);

    --rainbow: linear-gradient(to bottom right, var(--pink-light), var(--yellow-light), var(--green-light), var(--blue-light), var(--purple-light));
}

* {
    font-family: 'Comfortaa', 'Dosis', Arial, sans-serif;
    font-size: 16px;
    color: var(--text-dark);
    padding: 0;
    margin: 0;
    /* border: 1px solid lightgray; */
}

/* ---- toggle menu for nav on smaller devices ---- */
.menu {
    display: none;
}

.checkbox {
    display: flex;
    flex-direction: column;
}

.openmenu {
    display: block;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
    /* -- hides checkbox -- */
    opacity: 0;
    margin: 10px;
}

/* -- opens menu -- */
.checkbox input[type="checkbox"]:checked ~ .menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    }

.checkbox .hamburger-lines {
    padding: 0;
    margin: 10px;
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .checkbox .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white);
    border: var(--border-pink);
    }

    /* -- transform hamburger lines -- */
    .checkbox .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    }
    
    .checkbox .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    }
    
    .checkbox .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    }

    /* -- change hamburger when checked -- */
    .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    background-color: var(--white);
    border: var(--border-pink);
    }
    
    .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    background-color: var(--white);
    border: var(--border-pink);
    }
    
    .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    background-color: var(--white);
    border: var(--border-pink);
    }

/*  ------------------ global ----------------- */

a:hover, a:active {
    color: var(--pink-dark);
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

header {
    background-color: var(--purple-light); /* for browers that do not support gradients */
    background-image: var(--rainbow);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%
}

nav a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-bottom: var(--border-white);
}

nav a:hover, nav a:active {
    background-color: var(--background-light);
    color: var(--pink-dark);
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-light); /* for browers that do not support gradients */
    background-image: var(--rainbow);
    min-height: 100vh;
}

section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 100%;
}

footer {
    background-color: var(--purple-light);
    min-height: 50px;
    max-height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, p, ul, li, i {
    padding: 5px;
    margin: 5px;
}

ul {
    width: 100%;
}

li {
    margin-left: 30px;
}

h1 {
    font-family: "Pacifico";
    width: 100%;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    color: var(--text-dark);
    padding: 10px;
    margin: 10px;
    /* background-image: var(--rainbow);
    background-clip: text;
    color: transparent; */
}

h2 {
    font-family: "Pacifico";
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-family: "Pacifico";
    font-size: 1.5em;
}

#profile-img {
    width: 70%;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

/*  ----------------- home page ---------------- */

.intro {
    padding: 10px;
    margin: 10px;
    min-height: 350px;
}

.intro p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 25px;
}

/*  ----------------- buttons ---------------- */

.intro button, .intro a.button {
    background-color: var(--white);
    border: var(--border-pink-light);
}

button, a.button {
    background-color: var(--pink-light);
    border: var(--border-pink-light);
    border-radius: 30px;
    color: var(--text-dark);
    font-size: 1.2em;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 80%;
}

button:hover, a.button:hover, button:active, a.button:active {
    border: var(--border-pink);
}

/*  ------------------------ projects ------------------- */

.card {
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: var(--background-light);
    border: var(--border-pink-light);
    border-radius: 10px;
    text-decoration: none;
}

a.card:active, a.card:hover {
    border: var(--border-pink);
}

.projects {
    /* background-color: var(--pink-light); */
    /* background-image: var(--rainbow); */
}

.projects div {
    background-color: var(--background-light);
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.projects div iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.projects div a img {
    width: 50px;
    height: 50px;
    border: var(--border-purple);
}

.screenshots {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*  ------------------------ contact page ------------------- */

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

form div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pink-light);
    padding: 10px 10px 25px 10px;
    border-radius: 10px;
    margin: 10px;
}

label {
    width: 90%;
    padding: 5px;
}

input, textarea {
    width: 90%;
    padding: 5px;
    border: var(--border-white);
    border-radius: 10px;
}

input:active, input:focus, textarea:active, textarea:focus {
    outline: var(--border-pink);
}

/*  ------------------------ media queries --------------------- */

@media (min-width: 1000px) {

    .openmenu, #open-menu, .hamburger-lines { /* hides checkbox for most larger devices */
        display: none;
    }
}