@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*  --------------------------------- site-wide styles ------------------------------- */

:root {
 --hairpink: #b9506f;
 --darkpink: #8D3A51;
 --darkestpink: #8D3A51;
 --black-blue: #11151C;
 --dark-blue: #212D40;
 --background: #364156;
 --ghostwhite: #E6E9F0;
}

* {
    font-family: 'Comfortaa', 'Dosis', Arial, sans-serif;
    font-size: 18px;
    color: var(--ghostwhite);
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* border: 1px solid lightgray; */
}

img, iframe {
    border-radius: 5px;
}

/*  end  */
/*  --------------------------------- general styles for main, body and header ------------------------------- */

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
} 

header {
    background-color: var(--background);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

main section {
    justify-content: space-around;
}

/*  end  */
/*  --------------------------------- navigation bar ------------------------------- */

.openmenu { /* hides checkbox for most larger devices */
    display: none;
}

.contact-me {
    color: white;
    background-color: var(--hairpink);
    border-radius: 5px;
}

a:hover {
    color: white;
    border-radius: 5px;
    border: none;
    background-color: var(--black-blue);
}

/*  end  */
/*  --------------------------------- content styles ------------------------------- */

#about-me {
    display: flex;
    width: 60%;
    padding: 50px;
    margin: 20px;
}

#mini-nav {
    flex-wrap: wrap;
    align-content: space-around;
}

#mini-nav a {
    border: 1px solid var(--hairpink);
    border-radius: 5px;
}

#mini-nav a:hover {
    color: white;
    border-radius: 5px;
    border: 1px solid var(--black-blue);
    background-color: var(--black-blue);
}

#profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    padding: 10px;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

div {
    padding: 20px;
}

a, p, i {
    padding: 5px;
    margin: 5px;
}

iframe {
    width: 560px;
    height: 315px;
}

/*  end  */
/*  --------------------------------- projects section ------------------------------- */

section div {
    display: flex;
}

#projects {
    background-color: var(--black-blue);
    padding: 20px;
}

.card img {
    width: 100%;
}

#projects a:hover {
    background-color: var(--background);
}

/*  end  */
/*  --------------------------------- contact form ------------------------------- */

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    margin: 20px;
}

label {
    margin-top: 20px;
}

input, textarea {
    margin-bottom: 20px;
    padding: 5px;
    color: black;
}

button {
    background-color: var(--hairpink);
    color: white;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: var(--black-blue);
}
/*  end  */