@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*  --------------------------------- site-wide styles ------------------------------- */

:root {
 --hairpink: #b9506f;
 --darkpink: #8D3A51;
 --darkestpink: #8D3A51;
 --black-blue: #11151C;
 --dark-blue: #212D40;
 --background: #364156;
 --ghostwhite: #E6E9F0;
}

* {
    font-family: 'Comfortaa','Dosis', Arial, sans-serif;
    font-size: 18px;
    color: var(--ghostwhite);
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* border: 1px solid lightgray; */
}

/*  end  */
/*  --------------------------------- general styles for main, body and header ------------------------------- */

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
} 

header {
    background-color: var(--background);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 1rem 1rem 1rem;
}

main section {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

section div {
    display: flex;
}

/*  end  */
/*  --------------------------------- navigation bar ------------------------------- */

/* hides checkbox for most larger devices */
.openmenu {
    display: none;
}

.contact-me {
    color: white;
    background-color: var(--hairpink);
    border-radius: 5px;
}

a:hover {
    text-decoration: underline;
}

/*  end  */
/*  --------------------------------- content styles ------------------------------- */

#profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

h1 {
    font-size: 2.5em;
    font-weight: 200;
    padding: 10px;
    margin: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin-top :0px;
}

h2 a {
    color:#2A2E45
}

div {
    padding: 20px;
}

a, p {
    padding: 5px;
    margin: 5px;
}

iframe {
    width: 560px;
    height: 315px;
}

/*  end  */
/*  --------------------------------- projects section ------------------------------- */

#projects {
    background-color: var(--black-blue);
    width: 100%;
}

.card img {
    width: 40%;
}

/*  end  */
/*  --------------------------------- contact form ------------------------------- */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width:25%;
}

input, textarea {
    width: 75%;
}

button {
    background-color:#80A1C1;
    color: white;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #B57DB0;
}
/*  end  */