@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --hairpink: #b9506f;
    --textpink: #7C3148;
    --black-blue: #11151C;
    --dark-blue: #212D40;
   
    --pink: #f25d98;
    --soft-pink: #f2a9bc;
   
    --svgs2: #dac5ae;
    --svgs-border: #92ade4;
    --svgs: #a7beed;
    --text: #b49573;
    --texta: #c2aa90;
    --background: #F2EEED;
    --border: #eae2e0;
   }

   * {
    font-family: 'Comfortaa', 'Dosis', Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body, main {
    background-color: var(--svgs);
}    

h2 {
    font-family: "Pacifico";
    font-size: 1.8rem;
}

h1 {
    font-family: "Pacifico";
    font-size: 2.8rem;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  cursor: pointer;
  color: var(--pink);
}

#btn {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-color: var(--svgs);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px var(--border);
}

#btn:hover {
    background-color: var(--pink);
    color: white;
}

#web-btn {
    font-size: .8rem;
    color: black;
    text-decoration: none;
    background-color: var(--svgs);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 2px var(--border);
}

#web-btn:hover {
    background-color: var(--pink);
    color: white;
}

i {
    background-color: var(--pink);
    padding: 8px;
    margin: 5px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: .8rem;
}

main {
    display: flex;
}

img {
    width: 200px;
}

iframe {
    width: 950px;
    height: 600px;
    margin: 50px;
    border-radius: 10px;
}

ul {
    padding: 5px 5px 5px 30px;  
    margin: 5px;
}

li {
    padding: 10px 0 10px 0;
}

/* ------------------- bio section ------------------ */

.bio-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    position: fixed;
}

.bio-section h1 {
    padding: 5px 0 5px 0;
    margin: 0 5px 0 5px;
    width: 100%;
}

.bio-section h2, .bio-section p {
    padding: 5px 0 5px 0;
    margin: 5px;
    width: 100%;
}

.web-link {
    width: 100%;
    margin: 0;
    padding: 0;
}

.bio-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px 20px 10px 20px;
}

.tag {
    text-align: left;
    color: var(--pink);
    font-size: 1.2rem;
    font-weight: 700;
}

#bio-pic {
    background-color: var(--svgs);
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

.play {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}


/* ------------------ filler section ------------------- */

.filler {
    width: 30%;
}

/* ------------------ hover to reveal -------------------- */

.project-link {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.project-link:hover{
    cursor: pointer;  
}

.project-img {
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a7beede0;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

.overlay-text {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    text-align: center;
}

/* ------------------ showcase section ----------------- */

.showcase-section {
    display: flex;
    flex-direction: column; 
    align-items: end;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--svgs);
    width: 70%;
}

.showcase-section h1, .showcase-section h2, .showcase-section p {
    padding: 5px 15px;  
    margin: 5px;
}

.project-card {
    background-color: white;
    padding: 10px;
    margin: 20px 50px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.project-details {
    width: 70%;
}

.stack {
    display: flex;
    padding: 5px 15px;
    margin-top: 5px;
}
