@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --hairpink: #b9506f;
    --textpink: #7C3148;
    --black-blue: #11151C;
    --dark-blue: #212D40;
   
    --pink: #f25d98;
    --soft-pink: #f2a9bc;
   
    --svgs2: #dac5ae;
    --svgs: #a7beed;
    --text: #b49573;
    --texta: #c2aa90;
    --background: #F2EEED;
    --border: #eae2e0;
   }

   * {
    font-family: 'Comfortaa', 'Dosis', Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* border: 1px solid grey; */
}

body, main {
    background-color: var(--svgs);
}    

h2 {
    font-family: "Pacifico";
    font-size: 1.8rem;
}

h1 {
    font-family: "Pacifico";
    font-size: 2.8rem;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  cursor: pointer;
  color: var(--pink);
}

#btn {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-color: var(--svgs);
    /* background-color: var(--pink); */
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 2px var(--border);
}

#btn:hover {
    background-color: var(--pink);
    /* background-color: var(--svgs); */
    color: white;
    /* box-shadow: 3px 3px 2px var(--border); */
}

#web-btn {
    font-size: .8rem;
    /* font-weight: 700; */
    color: black;
    text-decoration: none;
    background-color: var(--svgs);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 2px var(--border);
}

#web-btn:hover {
    background-color: var(--pink);
    color: white;
    /* box-shadow: 3px 3px 2px var(--border); */
}

i {
    background-color: var(--pink);
    padding: 8px;
    margin: 5px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: .8rem;
}

main {
    display: flex;
}

img {
    width: 200px;
}

iframe {
    width: 950px;
    height: 600px;
    margin: 50px;
    border-radius: 10px;
}

ul {
    /* padding-left: 30px; */
    padding: 5px 5px 5px 30px;  
    margin: 5px;
}

li {
    padding: 10px 0 10px 0;
}

/* ------------------- bio section ------------------ */

.bio-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    /* margin: 20px; */
    /* border-radius: 10px; */
    height: 100%;
    position: fixed;
}

.bio-section h1 {
    padding: 5px 0 5px 0;
    margin: 0 5px 0 5px;
    width: 100%;
}

.bio-section h2, .bio-section p {
    /* padding: 5px 15px;   */
    padding: 5px 0 5px 0;
    margin: 5px;
    width: 100%;
}

.bio-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    /* border: 1px solid grey; */
}

.tag {
    text-align: left;
    color: var(--pink);
    font-size: 1.1rem;
    font-weight: 700;
}

.play {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 15px 0;
    text-align: center;
}

#bio-pic {
    background-color: var(--svgs);
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    /* border: 1px solid var(--pink); */
}

/* #qr-code {
   display: flex;
   flex-direction: column;
   align-items: center;
} */

/* ------------------ filler section ------------------- */

.filler {
    width: 30%;
}

/* ------------------ showcase section ----------------- */

.showcase-section {
/*     float: right; */
    display: flex;
    flex-direction: column; 
    align-items: end;
    padding-top: 10px;
    padding-bottom: 20px;
/*     justify-items: end; */
    background-color: var(--svgs);
    width: 70%;
    /* border: 1px solid grey; */
}

.showcase-section h1, .showcase-section h2, .showcase-section p {
    padding: 5px 15px;  
    margin: 5px;
}

.project-img {
    width: 300px;
    height: 200px;
    /* border: 2px solid var(--svgs); */
    border-radius: 10px;
    overflow: hidden;
}

.project-img:hover{
    cursor: pointer;  
/*   position: absolute; */
    bottom: 50%;
}

.hide {
    width: 300px;
    height: 200px;
    /* text-align: center; */
    /* position: absolute; */
    /* right: 50%; */
    /* visibility: hidden; */
}

.showcase-section img {
    /* width: 100%; */
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    /* border: 1px solid var(--svgs);
    border-radius: 10px; */
}

.project-card {
    background-color: white;
    padding: 10px;
    margin: 20px 50px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
/*     justify-content: end; */
    /* flex-wrap: wrap; */
    /* width: 60%; */
    /* border: 1px solid red; */
}

.project-details {
    width: 70%;
}

.stack {
    display: flex;
    padding: 5px 15px;
    margin-top: 5px;
/*     border: 1px solid black; */
/*     flex-direction: column; */
    /* position: absolute right; */
    /* width: 100%; */
}
